body {
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #454545;
}

#container {
    margin: 0 auto;
    padding: 20px;
    transition: 0.5s;
}

#container > div {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 187px 75px rgba(0, 0, 0, 0.01),
    0 105px 63px rgba(0, 0, 0, 0.05),
    0 47px 47px rgba(0, 0, 0, 0.09),
    0 12px 26px rgba(0, 0, 0, 0.1),
    0 0 0 rgba(0, 0, 0, 0.1);
}

#container.hover {
    box-shadow: inset 0 0 20px 6px #619ec8;
}

#upload-div {
    cursor: pointer;
}

#upload-input {
    display: none;
}

#location {
    border-left: 1px solid #ddd;
}

#location a:last-child {
    font-weight: bold;
}

.table-div {
    height: 88vh;
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    height: 34px;
    text-align: left;
    padding: 8px;
}

td > div {
    display: flex;
    align-items: center;
}

td {
    border-top: 1px solid #e8e8e8;
}

tbody > tr:hover {
    background-color: #e9e8e8;
}

tr td:last-child {
    width: 200px; /* 设置最后一个td的宽度为100像素 */
    padding-left: 0;
}


a, .line {
    text-decoration: none;
    color: #454545;

    background: linear-gradient(#454545, #454545) no-repeat bottom;
    background-size: 0 2px;
    transition: background-size 300ms;
}

a:hover, .line:hover {
    background-size: 100% 2px;
}

.upload-svg {
    background: linear-gradient(#454545, #454545) no-repeat bottom;
    background-size: 0 2px;
    animation: bd 600ms ease-in-out infinite alternate;
}


@keyframes bd {
    0% {
        background-size: 0 2px;
    }
    100% {
        background-size: 100% 2px;
    }
}

.status-bar {
    padding: 2px 8px;
    font-size: 12px;
    color: #bbb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.net-status {
    display: flex;
    align-items: center;
}


.toolsbar {
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
}

.toolsbar > * {
    padding-left: 10px;
    padding-right: 10px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 0 8px;
    border-bottom: solid 1px #ddd;
}


.option {
    padding-right: 8px;
    padding-left: 8px;
}


#version {
    position: absolute;
    top: 6px;
    right: 28px;
    font-size: 12px;
    color: #bbb;
    display: none;
}


.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.input {
    border-style: none;
    width: 0;
    outline: none;
    transition: .5s ease-in-out;
    padding-right: 40px;
    color: #454545;
    font-size: 16px;
    border-bottom: 2px solid #fff0;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4px;
    cursor: pointer;
    border-style: none;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
}

.icon:hover ~ label > .input {
    border-bottom: 2px solid #454545;
}


.input:focus {
    box-shadow: none;
    width: 250px;
    background-color: transparent;
    border-bottom: 2px solid #454545;
}


/* 隐藏边框 */
::-webkit-scrollbar {
    width: 8px; /* 设置滚动条宽度 */
}


/* 设置滚动条滑块样式 */
::-webkit-scrollbar-thumb {
    background-color: #e9e8e8;
    border-radius: 4px; /* 设置圆角半径 */
}