body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #454545;
}

#container {
    margin: 0 auto;
    padding: 20px;
    min-height: 95vb;
}

#container > div {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 8px;
}

#container.hover {
    box-shadow: inset 0 0 20px 6px #619ec8;
}

#upload-div {
    cursor: pointer;
}

#upload-input {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    height: 34px;
    /* width: 150px; */
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

tr td:last-child {
    width: 200px; /* 设置最后一个td的宽度为100像素 */
}


a {
    text-decoration: none;
}

.upload-svg {
    box-shadow: 0 0 10px 10px #fff;
    border-radius: 10px;
    background: #fff;
}

.netspeed-text {
    color: #454545;
}

.toolsbar {
    display: flex;
    /*flex-direction: row;*/
    /*font-weight: bold;*/
    /*justify-content: space-between*/
}


.toolsbar {
    padding-top: 6px;
    padding-bottom: 6px;
}

.toolsbar > * {
    padding-left: 10px;
    padding-right: 10px;
    /*border: 1px solid #ddd;*/
    /*color: #454545;*/
    /*margin: 4px;*/
    /*border-radius: 4px;*/
    /*padding: 2px 4px 0 4px;*/

}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.option {
    padding-right: 16px;
}
