<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件传输</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preload" href="/static/option-svg/upload.svg" as="image">
    <link rel="preload" href="/static/option-svg/upload-sucess.svg" as="image">
</head>
<body>
<div id="container">
    <div>
        <div class="topbar">
            <div class="toolsbar">
                <a href="../"> {% include "back.svg" %} </a>
                <a href="javascript:void(0)" onclick="mkdir()"> {% include "mkdir.svg" %} </a>
                <div id="upload-div"> {% include "upload-file.svg" %} </div>
                <div id="location">
                    位置 ：首页 {% if index_of %} > {{ index_of }}{% endif %}
                </div>
                <input type="file" id="upload-input">
            </div>
            <div>
                Version 1.2
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>文件名</th>
                <th>类型</th>
                <th>大小</th>
                <th>修改日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for file in dir_content %}
                <tr>
                    <td>
                        <div>
                            {% if file.type == "文件夹" %}
                                {% include "dir.svg" %}&nbsp;<a href="{{ file.href }}">{{ file.href[:-1] }}</a>
                            {% else %}
                                {% include "file.svg" %}&nbsp;{{ file.href }}
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ file.type }}</td>
                    <td>{{ file.size }}</td>
                    <td>{{ file.modify_time }}</td>
                    <td>
                        <a href="{{ file.href }}" class="option">
                            {% if file.type == "文件夹" %}
                                {% include "folder-open.svg" %}
                            {% else %}
                                {% include "download.svg" %}
                            {% endif %}
                        </a>

                        {% if file.type != "文件夹" %}
                            <a class="option" href="javascript:void(0)" data-item-id="{{ file.href }}"
                               onclick="getShareLink(this)">
                                {% include "share.svg" %}
                            </a>
                        {% endif %}

                        <a class="option" href="javascript:void(0)" data-item-id="{{ file.href }}"
                           onclick="deleteItem(this)">
                            {% include "delete.svg" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<script src="/static/index.js"></script>
</body>
</html>
