<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件传输</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preload" href="/static/option-svg/upload.svg" as="image">
    <link rel="preload" href="/static/option-svg/upload-sucess.svg" as="image">
</head>
<body>
<div id="container">
    <div>

        <div class="topbar">
            <div class="toolsbar">
                <a href="../"> {% include "back.svg" %} </a>
                <a href="javascript:void(0)" onclick="mkdir()"> {% include "mkdir.svg" %} </a>
                <a href="javascript:void(0)" onclick="uploadInput.click()"> {% include "upload-file.svg" %} </a>
                <div id="location">
                    <a href="/">文件</a>
                    {% for text, href in index_of.items() %}
                        &nbsp;›&nbsp;<a href="/{{ href }}">{{ text }}</a>
                    {% endfor %}
                </div>
                <input type="file" id="upload-input">
            </div>


            <form action="/" id="search-form" class="input-wrapper" autocomplete="off">
                <button class="icon line" type="submit">
                    {% include "search.svg" %}
                </button>
                <label>
                    <input class="input" name="search" type="text">
                </label>
            </form>

            <div id="version">
                Version 1.2.4
            </div>
        </div>
        <div class="table-div">
            <table>
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>类型</th>
                    <th>大小</th>
                    <th>修改日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="files-tbody">
                {% for file in dir_content %}
                    <tr data-item="{{ file.href }}" {% if file.type == "文件夹" %} data-drop="true" {% else %}
                        draggable="true" {% endif %}>
                        <td>
                            <div>
                                {% if file.type == "文件夹" %}
                                    {% include "dir.svg" %}&nbsp;<a href="{{ file.href }}">{{ file.href[:-1] }}</a>
                                {% else %}
                                    {% include "file.svg" %}&nbsp;{{ file.href }}
                                {% endif %}
                            </div>
                        </td>
                        <td>{{ file.type }}</td>
                        <td>{{ file.size }}</td>
                        <td>{{ file.modify_time }}</td>
                        <td>

                            {% if file.type == "文件夹" %}
                                <a href="{{ file.href }}" class="option">{% include "folder-open.svg" %}</a>
                            {% else %}
                                <a href="{{ file.href }}" class="option">{% include "download.svg" %}</a>
                                <a class="option" href="javascript:void(0)" data-item-id="{{ file.href }}"
                                   onclick="getShareLink(this)">{% include "share.svg" %}</a>
                            {% endif %}

                            <a class="option" href="javascript:void(0)" data-item-id="{{ file.href }}"
                               onclick="deleteItem(this)">
                                {% include "delete.svg" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="status-bar">
            <div class="net-status">
                {% include "net.svg" %}
                <div id="net-status">
                    &nbsp;<text>4G</text>
                    &emsp;<text>⇅ 3.1 Mb/s</text>
                    &emsp;<text>RTT：100ms</text>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/index.js"></script>
</body>
</html>
